$columnBg: #999;
$rowBg:#888;

.table {
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  td, th {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-weight: normal;
    min-width: 36px;
    height: 36px;
    text-align: center;
  }
  th {
    background-color: $columnBg;
  }
  tr > td {
    &:first-child {
      background-color: $rowBg;
    }
  }
  .tagCol {
    width: 100px;
    height: 40px;
    position: relative;
    > div {
      border-left: 0;
      border-right: 100px solid $columnBg;
      border-top: 0;
      border-bottom: 40px solid $rowBg;
      height: 100%;

      > span {
        position: absolute;
        &:first-child {
          left: 4px;
          bottom: 4px;
        }
        &:last-child {
          right: 4px;
          top: 4px;
        }
      }
    }
  }
}
